.example-card, .superlike-card {
    max-width: 300px;
    margin: 0 auto;
}

.superlike-card{
    background-color: rgb(248, 197, 223);
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

#superlike{
    right:1;
}